* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #2d3c49;
  max-width: 900px;
  margin: 0 auto;
}

header,
main {
  width: 90%;
  margin: 0 auto;
}

header,
.about-me {
  margin-bottom: 0.5em;
}

header {
  border-bottom: 3px solid #7d97ad;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em 0;
}

.logo {
  width: 10%;
  height: 10%;
}

.header-text {
  text-align: right;
  text-transform: uppercase;
}

.header-text h1,
.header-text h2 {
  font-weight: 100;
}


.featured-work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-work h2 {
  color: #7d97ad;
  width: 100%;
}

section {
  width: 100%;
}

p {
  text-align: justify;
  width: 90%;
  margin: 1em auto;
  text-indent: 1em;
}

.project {
  margin: 0.4em 0;
}

img {
  width: 100%;
}

h3 {
  text-align: center;
}

@media screen and (min-width: 550px) {
  .featured-work {
    display: flex;
    flex-direction: row;
  }

  .project {
    width: calc((100% - 20px)/2);
  }
}

@media screen and (min-width: 900px) {
  .project {
    width: calc((100% - 40px)/3);
  }
}