* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  color: #2d3c49;
}

header,
main {
  width: 90%;
  margin: 0 auto;
}

header,
.main-image {
	margin-bottom: 0.5em;
}

header {
  border-bottom: 3px solid #7d97ad;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.logo {
  width: 10%;
  height: 10%;
}

.header-text {
  text-align: right;
  text-transform: uppercase;
}

.header-text h1,
.header-text h2 {
  font-weight: 100;
}


.featured-work h2 {
	color: #7d97ad;
}

section {
	width: 100%;
}

.project {
	margin: 0.4em 0;
}

img {
  width: 100%;
}

a {
	display: block;
  color: #2d3c49;
}

a, h3 {
	text-align: center;
}